.ribbon-link-content{
    display: flex;
    flex-direction: row;
    justify-content: flex-start; 
    align-items: flex-start;
    margin-bottom: 25px;
}

.ribbon-link-div{
    margin-right: 25px;
}