.editor-content-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 80px;
  }
  
  .editor-ribbon-container{
    width: 99%;
    margin-bottom: 30px;
    padding-right: 0.5%;
    padding-left: 0.5%;
  }
  
  .app-ui-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    align-items: flex-start;
    padding-left: 5%;
    padding-right: 5%;
  }
  
  .panel-app-wrapper{
    width: 25%;
  }
  
  .editor-container-wrapper{
    width: 800px;
    padding: 0px 0px 15px 0px;
    margin: 0px 0px 0px 0px;
    padding: 0 0 0 0;
    border-style: groove;
    border-radius: 10px;
  }