.comp-wrapper-container{
    display: block;
    margin-left: 0px;
    margin-top: 0px;
}

.comp-wrapper-container:hover{
    cursor: pointer;
}
.comp-wrapper-horizonatal-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.comp-wrapper-right{
    margin-right: 0px;
}

.comp-wrapper-right:hover{
    cursor: col-resize;
    background-color: lightcoral;
}

.comp-wrapper-bottom{
    margin-top: 0px;
}

.comp-wrapper-bottom:hover{
    cursor: row-resize;
    background-color: lightcoral;
}