.panel-group-main-header{
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: flex-start;
    background-color: springgreen;
    padding-left: 10px;
    padding-right: 10px;
}

.panel-group-category-header{
    flex: 1;
}

.panel-group-category-header h3{
    text-align: left;
}